.header {
    color: #ffffff;
    background-color: #e85a5a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 20px;
    align-items: center;
}

.online_dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: green;
    margin-right: 20px;
}

.icon_box {
    background-color: #df4830;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
}

.chat_icons {
    display: flex;
}

.username {
    flex: 2;
}

.row > div {
    margin: 0px !important;
    padding: 0px !important;
}

.message_box {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
}

.message_input {
    width: 100%;
}

.message_input > input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 20px 10px;
}

.icon_box_send {
    background-color: #1976d2;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.chat_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages {
    padding: 10px;
    overflow: scroll;
    height: 550px !important;
}

.message_left > div > img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.message_left > .user_message {
    font-size: 14px;
    background-color: #df4830;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    position: relative;
}

.message_arrow {
    background-color: #df4830;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    left: -6px;
    transform: rotate(45deg);
}

.message_left {
    display: flex;
    margin-top: 10px;
}

.message_arrow_right {
    background-color: #f1f1f1;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    right: -6px;
    transform: rotate(45deg);
}

.message_right_image {
    margin-left: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message_right {
    justify-content: flex-end;
}

.message_right > .user_message {
    background-color: #f1f1f1;
    color: #000;
}

.icon_box_send {
  background-color: #df4830;
}